<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="min-height: 100vh;" >
        <div class="col">
            <div class="error-template text-center d-flex flex-column gap-3">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Perdon, ha ocurrido un error, No se encontro la página solicitada!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        Salir </a>
                </div>
            </div>
        </div>
    </div>
</div>